In [3]:
import pandas as pd

# Correct path with raw string notation
file_path = r"C:\Users\HomePC\Documents\amazon_company_data.xlsx"

# Load the Excel file
df = pd.read_excel(file_path)

# Display the first few rows
df.head()

,Date,Product,Category,Sales,Units Sold,Profit,Region
0,2024-01-01,Fire TV Stick,Smart Home,24519,677,4466,South America
1,2024-01-02,Amazon Echo,Electronics,16800,571,6664,Europe
2,2024-01-03,Ring Video Doorbell,Electronics,29741,952,7327,Africa
3,2024-01-04,Amazon Luna Controller,Home,12472,878,3256,North America
4,2024-01-05,Amazon Echo,Services,24328,226,3530,Europe

In [4]:
# Check for missing values
df.isnull().sum()

# Summary statistics
df.describe()

# Unique products and categories
df["Product"].value_counts().head()
df["Category"].value_counts()

Category
Smart Home     135
Home           125
Electronics    121
Gaming         117
Services       102
Name: count, dtype: int64

In [3]:
import pandas as pd
from dash import Dash, dcc, html, Input, Output
import plotly.express as px

# Load your data into df (replace this with the actual file path or data source)
# For example, if you're using an Excel file:
# df = pd.read_excel('your_data_file.xlsx')

# Example of loading data (ensure your 'Category' column exists)
data = {
    'Category': ['Electronics', 'Furniture', 'Clothing', 'Electronics', 'Clothing'],
    'Sales': [200, 150, 120, 300, 180],
    'Profit': [50, 40, 30, 70, 60],
    'Units Sold': [20, 15, 10, 30, 25],
    'Region': ['North', 'South', 'East', 'West', 'North'],
    'Product': ['Product A', 'Product B', 'Product C', 'Product D', 'Product E']
}
df = pd.DataFrame(data)

# Initialize Dash app
app = Dash(__name__)
server = app.server

# Layout Design
app.layout = html.Div([
    html.H1("ðŸ“Š Amazon Sales Dashboard", style={'textAlign': 'center', 'color': '#1E90FF'}),

    html.Div([
        html.Label("Select Category:", style={'fontWeight': 'bold'}),
        dcc.Dropdown(
            id='category-filter',
            options=[{'label': cat, 'value': cat} for cat in df['Category'].unique()],
            value='Electronics'
        )
    ], style={'width': '40%', 'margin': 'auto'}),

    dcc.Graph(id='sales-3d'),

    dcc.Graph(id='region-bar'),

    html.Div("Dashboard by Fatolu Peter | Powered by Dash + Plotly", 
             style={'textAlign': 'center', 'marginTop': 20, 'color': 'gray'})
])

# Callbacks for Interactivity
@app.callback(
    [Output('sales-3d', 'figure'),
     Output('region-bar', 'figure')],
    [Input('category-filter', 'value')]
)
def update_graphs(selected_category):
    filtered_df = df[df["Category"] == selected_category]

    fig1 = px.scatter_3d(
        filtered_df, x='Sales', y='Profit', z='Units Sold',
        color='Region', symbol='Product',
        title=f'3D Sales-Units-Profit View for {selected_category}',
        opacity=0.7,
        template='plotly_dark'
    )
    fig1.update_traces(marker=dict(size=6))

    fig2 = px.bar(
        filtered_df.groupby("Region")["Sales"].sum().reset_index(),
        x="Region", y="Sales", color="Region",
        title="Total Sales by Region",
        template='plotly_dark'
    )

    return fig1, fig2

# Run the app
app.run(debug=True)

In [ ]:
pip uninstall jupyter_dash